body
{
  padding: 10px;
  margin: 40px;
  font-size: 24px;
  font-family: monospace;
  background-image: url(https://wallpapercrafter.com/desktop/8486-planet-ring-purple-clouds-space-4k.jpg);
  background-size: cover;
  color: white;
}
